
body {
  margin: 2em;  
  font-family: 'Patrick Hand', cursive;
  font-size: 10px;
 background-image: url("https://images.unsplash.com/photo-1590536685202-b550011702bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
 background-color: #cccccc;

 
}

.blog{
  background-color: black;
  text-decoration-color: yellow;
  color: yellow;
  font-size: 25px;
}
.b{
  background-color: lavender;
}

.bu{
  background-color: yellow;
}

h1 {
  text-align: center;
  color: orange;
  font-family:'Times New Roman', Times, serif;          
  font-size: 70px;
  font-weight: bold;
  margin-right: 40px;
  margin-top: 10px; 
}

.slogan {
  text-align: center;
  color: rgb(248, 245, 245);
  font-size: 35px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.centerBig:hover {
  background-color: rgba(248, 171, 98, 0.993);
  
}



.centerBig {
  padding: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin: auto;
  background-color: rgb(202, 154, 154);
  color: whitesmoke;
  font-size: 40px;
  justify-content: center;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  transition: all 0.5s; 

}


.centerBig span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.centerBig span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.centerBig:hover span {
  padding-right: 25px;
}

.centerBig:hover span:after {
  opacity: 1;
  right: 0;
}

//slash on text
.slashed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.slashed .top,
.slashed .bot {
  text-align: center;
  font: 80px/100px 'Stick No Bills', sans-serif;
  text-transform: uppercase;  
  overflow: hidden;
  color: #fff;
}
.slashed .top:before,
.slashed .bot:before {
  content: attr(title);
  
}
.slashed .top {
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 50%;
}
.slashed .top:before {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
}
.slashed .bot {
  position: absolute;
  top: 50%;
  left: 0;
  right: 5px;
  bottom: 0;
}
.slashed .bot:before {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}

.center {
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border: 8px dotted lightblue;
}

.parker{  
  margin-top: 1%;
  border: 8px dotted lightblue;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-spacing: 1cm 2em;
  top: 3%;
 
}

.orbiter{    
  margin-top: 1%;
  border: 8px dotted yellow;
  width: 450px;
  height: 325px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-spacing: 1cm 2em;
  top: 3%;
  
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
 margin-left: 180px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: 100px;
  
}
.redirectMeLeft {
  text-align: right;
  color: yellow;
  font-size: 23px;
  margin-left: 18px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block; 
  font-size: 20px;
  text-align: center; 
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.gif{
  position: absolute;
  bottom: 0px; 
  right: 550px;
  height: 280px;
  width: 400px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-spacing: 1cm 2em;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.btn{
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: auto;
  background-color: rgb(202, 154, 154);
  color: whitesmoke;
  font-size: 20px;
  justify-content: center;

  position: absolute;
  
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sun{
  width: 800px;
  height: 500px;  
  margin-left: 0px;  
  margin-top:2px;
}

.park{
  margin-top: 59%;
  width: 200px;
  margin-left: 94%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 10px;
}

.column1 {
  float: left;
  width: 33.33%;
  padding: 5px;
 
}

/* This styles the aside container */
#aside {
  height: 600px;
  width: 600px;
  position: absolute;
  top: calc(50% - 130px);
  right: 7%;
}

/* This styles the 3D object inserted in the aside container */
#aside model-viewer {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 300px;
  border: none;
}
